<div class="scenario">
    <div ng-controller="InlineCustomWeekStartCtrl as vm">
        <h3>Example 5: Custom Week Start</h3>
        <div>
            <input type="text"
                    ng-model="vm.date"
                    class="form-control"
                    angular-datepicker-light="vm.datepickerOptions" />
        </div>
    </div>

    <div class="code-container">
        <h6>HTML</h6>
        <div>
<pre><code class="language-markup">&lt;body ng-app="mainApp">
    &lt;div ng-controller="InlineCustomWeekStartCtrl as vm">
        &lt;input type="text"
               ng-model="vm.date"   
               angular-datepicker-light="vm.datepickerOptions" />
    &lt;/div>
&lt;/body>
</code></pre>
        </div>
        <div>
            <h6>JavaScript</h6>
<pre><code class="language-javascript">angular
    .module('mainApp', ['datepickerLightModule'])
    .controller('InlineCustomWeekStartCtrl', InlineCustomWeekStartCtrl);
    
    function InlineCustomWeekStartCtrl() {
        var vm = this;
        
        vm.date = new Date();
        vm.datepickerOptions = {
            inline: true,
            firstDayOfWeek: 1
        };
    }
</code></pre>
        </div>
    </div>

</div>
