<div class="scenario">
    <div ng-controller="OnFocusCtrl as vm">
        <h3>Example 1: Show on Focus</h3>
        <div>
            <input type="text"
                    ng-model="vm.date"
                    class="form-control"
                    angular-datepicker-light="vm.datepickerOptions" />
            <span id="calendarIcon" class="fa fa-calendar calendar-icon"></span>
        </div>
    </div>

    <div class="code-container">
        <h6>HTML</h6>
        <div>
<pre><code class="language-markup">&lt;body ng-app="mainApp">
    &lt;div ng-controller="OnFocusCtrl as vm">
        &lt;input type="text" 
            ng-model="vm.date"
            angular-datepicker-light="vm.datepickerOptions" />
        &lt;span id="calendarIcon"&gt;&lt;/span>
    &lt;/div>
&lt;/body>
</code></pre>
        </div>
        <div>
            <h6>JavaScript</h6>
<pre><code class="language-javascript">angular
    .module('mainApp', ['datepickerLightModule'])
    .controller('OnFocusCtrl', function () {
        var vm = this;
        
        vm.date = "07/01/2016";
        vm.datepickerOptions = {
            altTarget: $("#calendarIcon")
        };
    });
</code></pre>
        </div>
    </div>
</div>
