<div class="sidebar">

    <header class="header" role="banner">
        <a href="http://www.vickram.me/">
            <img id="blog" class="logo" src="https://vickram.blob.core.windows.net/images/vickram-ravichandran-hash-260x260.png?sp=r&amp;st=2018-06-20T12:21:41Z&amp;se=2050-06-20T20:21:41Z&amp;spr=https&amp;sv=2017-11-09&amp;sig=hgqtMRnB9752PvoPPj8nreGv0zO%2FpJdSCjxeTFDNJvg%3D&amp;sr=b">
        </a>

        <h1 class="title">
            <a href="http://www.vickram.me/" style="text-decoration:none">Vickram Ravichandran</a>
        </h1>
        <p class="description"></p>

        <div class="separator"></div>

        <nav class="main-nav responsive" role="navigation">
            <ul>
                <li>
                    <a href="http://www.vickram.me/">Home</a>
                </li>
            </ul>
        </nav>

        <div class="social-icons">
            <a href="http://www.vickram.me/" class="icon icon-home"></a>
            <a href="https://www.linkedin.com/in/vickramravichandran" class="icon icon-linkedin"></a>
            <a href="https://github.com/vickramravichandran/angular-datepicker-light" class="icon icon-github-circled"></a>
        </div>

        <div class="npm-links">
            <div>
                <code>npm i angular-datepicker-light</code>
            </div>
            <div style="margin-top:5px">
                <code>bower i angular-datepicker-light</code>
            </div>
        </div>

    </header>

</div>