<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>AngularJS datepicker-light plugin</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css" />

    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/prism.css">
    <link rel="stylesheet" href="stylesheets/angular-datepicker-light.css" />
    <link rel="stylesheet" href="stylesheets/styles.css" />

    <!--<script type="text/javascript" src="javascripts/jquery.js"></script>-->

    <script type="text/javascript" src="javascripts/prism.js"></script>

    <script type="text/javascript" src="javascripts/angular.js"></script>
    <script type="text/javascript" src="javascripts/moment.js"></script>
    <script type="text/javascript" src="javascripts/angular-datepicker-light.js"></script>
    <script type="text/javascript" src="javascripts/scripts.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body ng-app="mainApp">
    <div class="sidebar">
        <header class="header" role="banner">
            <a href="http://www.vickram.me/"><img id="blog" class="logo" src="images/VS2015-180.png"></a>
            <h1 class="title"><a href="http://www.vickram.me/" style="text-decoration:none">Vickram Ravichandran</a></h1>
            <p class="description"></p>
            <div class="separator"></div>
            <nav class="main-nav" role="navigation">
                <ul>
                    <li><a class="" href="http://www.vickram.me/">Home</a></li>
                </ul>
            </nav>
            <div class="social-icons">
                <a href="https://github.com/vickramravichandran/angular-datepicker-light" class="icon icon-github-circled"></a>
                <a href="https://www.linkedin.com/in/vickramravichandran" class="icon icon-linkedin"></a>
            </div>
        </header>
    </div>
    <div class="content">
        <main role="main">
            <article class="post" role="article" itemscope="" itemtype="http://schema.org/Article">
                <h1 class="post-title">AngularJS datepicker-light plugin</h1>
                
                <div>
                    <div style="margin-top:20px">
                        <code>npm install angular-datepicker-light</code>
                    </div>
                    <div style="margin-top:5px">
                        <code>bower install angular-datepicker-light</code>
                    </div>
                </div>
                
                <div style="margin-top:20px; padding: 10px 0px">
                    <a role="button" class="btn btn-primary btn-lg" href="https://github.com/vickramravichandran/angular-datepicker-light/archive/demo.zip">Download</a>
                    <a role="button" class="btn btn-primary btn-lg" target="_blank" href="https://github.com/vickramravichandran/angular-datepicker-light">Source</a>
                    <a role="button" class="btn btn-primary btn-lg" href="#options">Options</a>
                </div>
                
                <div class="container-fluid">

                    <div class="row">
                        <div class="scenario">
                            <div ng-controller="OnFocusCtrl as vm">
                                <h3 class="config-title">Example 1: Show on Focus</h3>
                                <div>
                                    <input type="text"
                                           ng-model="vm.date"
                                           class="form-control"
                                           angular-datepicker-light/>
                                </div>
                            </div>
                            <div class="code-container">
                                <h6>HTML</h6>
                                <div>
<pre><code class="language-markup">&lt;body ng-app="mainApp">
    &lt;div ng-controller="OnFocusCtrl as vm">
        &lt;input type="text" ng-model="vm.date" />
    &lt;/div>
&lt;/body>
</code></pre>
                                </div>
                                <div>
                                    <h6>JavaScript</h6>
<pre><code class="language-javascript">angular
    .module('mainApp', ['datepickerLightModule'])
    .controller('OnFocusCtrl', function () {
        var vm = this;
        
        vm.date = dateText;
    });
</code></pre>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="scenario">
                            <div ng-controller="InlineCtrl as vm">
                                <h3 class="config-title">Example 2: Show Inline</h3>
                                <div>
                                    <input type="text"
                                           ng-model="vm.date"
                                           class="form-control"
                                           angular-datepicker-light="vm.datepickerOptions" />
                                </div>
                            </div>
                            <div class="code-container">
                                <h6>HTML</h6>
                                <div>
<pre><code class="language-markup">&lt;body ng-app="mainApp">
    &lt;div ng-controller="InlineCtrl as vm">
        &lt;input type="text"
               ng-model="vm.date"   
               angular-datepicker-light="vm.datepickerOptions" />
    &lt;/div>
&lt;/body>
</code></pre>
                                </div>
                                <div>
                                    <h6>JavaScript</h6>
<pre><code class="language-javascript">angular
    .module('mainApp', ['datepickerLightModule'])
    .controller('InlineCtrl', InlineCtrl)
        
    function InlineCtrl(){
        var vm = this;
        
        vm.date = dateText;
        
        vm.datepickerOptions = {
            inline: true
        };
    }
</code></pre>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="scenario">
                            <div ng-controller="InlineOtherMonthDatesCtrl as vm">
                                <h3 class="config-title">Example 3: Dates from Other Months</h3>
                                <div>
                                    <input type="text"
                                           ng-model="vm.date"
                                           class="form-control"
                                           angular-datepicker-light="vm.datepickerOptions" />
                                </div>
                            </div>
                            <div class="code-container">
                                <h6>HTML</h6>
                                <div>
<pre><code class="language-markup">&lt;body ng-app="mainApp">
    &lt;div ng-controller="InlineOtherMonthDatesCtrl as vm">
        &lt;input type="text"
               ng-model="vm.date"   
               angular-datepicker-light="vm.datepickerOptions" />
    &lt;/div>
&lt;/body>
</code></pre>
                                </div>
                                <div>
                                    <h6>JavaScript</h6>
<pre><code class="language-javascript">angular
    .module('mainApp', ['datepickerLightModule'])
    .controller('InlineOtherMonthDatesCtrl', InlineOtherMonthDatesCtrl);
    
    function InlineOtherMonthDatesCtrl() {
        var vm = this;
        
        vm.date = dateText;
        
        vm.datepickerOptions = {
            inline: true,
            showOtherMonthDates: true
        };        
    }
</code></pre>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="scenario">
                            <div ng-controller="InlineDisabledDatesCtrl as vm">
                                <h3 class="config-title">Example 4: Disabled Dates</h3>
                                <div>
                                    <input type="text"
                                           ng-model="vm.date"
                                           class="form-control"
                                           angular-datepicker-light="vm.datepickerOptions" />
                                </div>
                            </div>
                            <div class="code-container">
                                <h6>HTML</h6>
                                <div>
<pre><code class="language-markup">&lt;body ng-app="mainApp">
    &lt;div ng-controller="InlineDisabledDatesCtrl as vm">
        &lt;input type="text"
               ng-model="vm.date"   
               angular-datepicker-light="vm.datepickerOptions" />
    &lt;/div>
&lt;/body>
</code></pre>
                                </div>
                                <div>
                                    <h6>JavaScript</h6>
<pre><code class="language-javascript">angular
    .module('mainApp', ['datepickerLightModule'])
    .controller('InlineDisabledDatesCtrl', InlineDisabledDatesCtrl);
    
    function InlineDisabledDatesCtrl() {
        var vm = this;
        
        vm.date = dateText;
        
        vm.datepickerOptions = {
            inline: true,
            renderDate: function (e) {
                var date = e.date.getDate();
                var enable = (date < 5 || date > 15);
                return {
                    enabled: enable,
                    tooltip: enable ? null : "We are closed!"
                }
            }
        };
    }
</code></pre>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="scenario">
                            <div ng-controller="InlineCustomWeekStartCtrl as vm">
                                <h3 class="config-title">Example 5: Custom Week Start</h3>
                                <div>
                                    <input type="text"
                                           ng-model="vm.date"
                                           class="form-control"
                                           angular-datepicker-light="vm.datepickerOptions" />
                                </div>
                            </div>
                            <div class="code-container">
                                <h6>HTML</h6>
                                <div>
<pre><code class="language-markup">&lt;body ng-app="mainApp">
    &lt;div ng-controller="InlineCustomWeekStartCtrl as vm">
        &lt;input type="text"
               ng-model="vm.date"   
               angular-datepicker-light="vm.datepickerOptions" />
    &lt;/div>
&lt;/body>
</code></pre>
                                </div>
                                <div>
                                    <h6>JavaScript</h6>
<pre><code class="language-javascript">angular
    .module('mainApp', ['datepickerLightModule'])
    .controller('InlineCustomWeekStartCtrl', InlineCustomWeekStartCtrl);
    
    function InlineCustomWeekStartCtrl() {
        var vm = this;
        
        vm.date = dateText;
        
        vm.datepickerOptions = {
            inline: true,
            firstDayOfWeek: 1
        };
    }
</code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="row">
                        <div class="scenario">
                            <div ng-controller="InlineDivTargetCtrl as vm">
                                <h3 class="config-title">Example 6: &lt;div&gt;&lt;/div&gt; Target</h3>
                                <div class="date-target" angular-datepicker-light="vm.datepickerOptions">
                                    {{vm.date | date:'MM / dd / yyyy'}}
                                </div>
                            </div>
                            <div class="code-container">
                                <h6>HTML</h6>
                                <div>
<pre><code class="language-markup">&lt;body ng-app="mainApp">
    &lt;div ng-controller="InlineDivTargetCtrl as vm">
        &lt;input type="text"
               ng-model="vm.date"   
               angular-datepicker-light="vm.datepickerOptions" />
    &lt;/div>
&lt;/body>
</code></pre>
                                </div>
                                <div>
                                    <h6>JavaScript</h6>
<pre><code class="language-javascript">angular
    .module('mainApp', ['datepickerLightModule'])
    .controller('InlineDivTargetCtrl', InlineDivTargetCtrl);
    
    function InlineDivTargetCtrl() {
        var vm = this;
        
        vm.date = today;
        
        vm.datepickerOptions = {
            inline: true,
            dateSelected: function (e) {
                vm.date = e.date;
            }
        };
    }
</code></pre>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div style="margin-top:20px;" xng-controller="PluginOptionsCtrl as vm">
                    <h2 id="options">Options</h2>
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="(key, val) in vm.options">
                                <th>{{key}}</th>
                                <td>
                                    <div>{{val.doc}}</div>
                                    <i>Default: {{val.def}}</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div style="height:200px">
                </div>
            </article>
        </main>
    </div>
</body>
</html>
