<div class="date-picker-container" data-instance-id="{{ctrl.instanceId}}" ng-show="ctrl.containerVisible">
    <div class="top-panel">
        <table class="calendar" border='0' cellpadding='0' cellspacing='0'>
            <tbody>
                <tr>
                    <td style="text-align:left">
                        <select class="months" 
                                ng-change="ctrl.monthChange(ctrl.selectedMonth)"
                                ng-model="ctrl.selectedMonth"
                                ng-options="item.index as item.name for item in ctrl.monthNames">
                        </select>
<!--
                        <select class="months" 
                                ng-model="ctrl.selectedMonth"
                                ng-change="ctrl.monthChange(ctrl.selectedMonth, ctrl.selectedYear)">
                            <option ng-repeat="item in ctrl.monthNames"
                                    ng-selected="ctrl.selectedMonth == {{$index}}"
                                    value="{{$index}}"
                                    label="{{item}}">
                            </option>
                        </select>
-->
                        <select class="years" 
                                ng-model="ctrl.selectedYear"
                                ng-change="ctrl.yearChange(ctrl.selectedYear)"
                                ng-options="item for item in ctrl.validYears"></select>
                    </td>
                    <td style="text-align:right">
                        <div>
                            <a class="prev fa fa-chevron-left" 
                               ng-click="ctrl.gotoPreviousMonth(ctrl.selectedMonth, ctrl.selectedYear)"
                               href="javascript:void(0)" 
                               title="Previous Month"></a>
                            <a class="next fa fa-chevron-right" 
                               ng-click="ctrl.gotoNextMonth(ctrl.selectedMonth, ctrl.selectedYear)"
                               href="javascript:void(0)" 
                               title="Next Month"></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="middle-panel" xx-ng-controller="DaysViewController as ctrl">
        <table class="calendar" border='0' cellpadding='0' cellspacing='0'>
            <thead>
                <tr>
                    <th ng-repeat="day in ctrl.dayNames" style="width:14%">
                        {{day}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7">
                        &nbsp;
                    </td>
                </tr>
                <tr class="week-row" ng-repeat="week in ctrl.weeks">
                    <td ng-class="ctrl.dateCellCssClass(item)"
                        ng-click="ctrl.dateSelect(item)"
                        ng-repeat="item in week"
                        title="{{item.tooltip}}">
                        <span x-ng-if="ctrl.isDateVisible(item.date)">{{ctrl.dateDisplay(item)}}</span>
<!--                        <span>{{item.date | date:'d'}}</span>-->
                    </td>
                </tr>
                <tr class="week-row-placeholder" ng-if="ctrl.weeks.length < 6">
                    <td ng-repeat="n in [7]">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bottom-panel">
        <table class="calendar" border='0' cellpadding='0' cellspacing='0'>
            <tbody>
                <tr class="today">
                    <td style="text-align:left">
                        <a class="today" 
                           ng-click="ctrl.todayDateSelect()"
                           href="javascript:void(0)">Today {{ctrl.todayDateDisplay}}</a>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
