html {
    height: 100%;
    max-height: 100%;
    font-size: initial;
}

body {
    height: 100%;
    max-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.45em;
    color: #3A4145;
}

.content {
    padding: 20px 60px 0 300px;
    float: left;
}

h1.title {
    font-size: 2.7em;
    font-weight: bold;
}

h3.title {
    margin-top: 20px;
}

div.code-container {
    margin-top: 20px;
}

    div.code-container h6 {
        margin-top: 10px;
    }

div.scenario {
    margin-bottom: 30px;
}

    div.scenario input[type=text] {
        display: inline-block;
        width: 110px;
        font-weight: bold;
        background-color: rgb(255, 248, 182);
    }


div.datepicker-container-inline {
    margin-top: 5px;
}

div.date-target {
    width: 320px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: #191717;
    background-color: rgb(255, 248, 182);
}

.calendar-icon {
    margin-left: 5px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: top left;
    background-image: url(images/calendar.png);
}
