html {
	font-size: initial;
}

h1.post-title {
	font-size: 2.7em;
	font-weight: bold;
}

/*
.content pre[class*="language-"] {
	max-height: initial;
}
*/

div.code-container {
	margin-top: 20px;
}

	div.code-container h6 {
		margin-top: 10px;
	}

div.scenario {
	margin-bottom: 30px;
}

	div.scenario input[type=text] {
		font-weight: bold;
		background-color: white;
/*        background-color: rgb(255, 248, 182);*/
        width: 110px;
	}

h3.config-title {
	margin-top: 20px;
}

        div.datepicker-container-inline {
            margin-top: 5px;
        }

        div.date-target {
            width: 320px;
            font-size: 18px;
            font-weight: bold;
            padding: 10px 10px 10px 10px;
            text-align: center;
            color: #191717;
            background-color: rgb(255, 248, 182);
        }